<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 开启注解 -->
	<context:annotation-config></context:annotation-config>
	
	<!-- 定义session工厂 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	
	<!-- 定义事务管理器 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
		<property name="sessionFactory" ref="sessionFactory"/> 
	</bean> 
	
	<!--开启事务的注解驱动-->	
	<tx:annotation-driven  transaction-manager="txManager"/>
	
	<!-- 采用自动扫描方式将包下面的类扫描进来，进行实例化 -->
	<context:component-scan base-package="com.business.dao" />
	<context:component-scan base-package="com.business.dao.impl" />
	<context:component-scan base-package="com.business.services" />
	<context:component-scan base-package="com.business.services.impl" />
	<context:component-scan base-package="com.business.action" />
	<context:component-scan base-package="com.business.job" />
</beans>